* {
    font-size: 10px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #000;
}

/*header*/
header {
    position: relative;
}
header.twee {
    display: flex;
    flex-direction: column;
    text-align: center;

}
header img {
    width: 100%;
    max-width: 100%;
    position: relative;
    box-shadow: 0 2px 4px #0e1111;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
nav ul li {
    padding: 0.2rem;
    width: 100%;
    text-align: center;
}
nav ul a {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    font-size: 1.3rem;
    padding: 1rem;
}
nav ul a:hover {
    background-color: #ccc;
}
h1 {
    font-size: 4rem;
    padding: 1rem;
    background-color: #1ed760;
}
/* current ?? */
/*home*/
main {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    gap: 2rem;
}
main img {
    max-width: 100%;
    width: 500px;
}
main article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    place-items: center;
    gap: 2rem;
}
article * {
    font-size: 1.5rem;
    list-style-type: none;
}
article ol {
    padding-left: 1rem;
}
/*toevoegen*/
.toevoegen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
form * {
    margin: 0.7rem;
}
form label {
    font-size: 1.5rem;
}
form input {
    font-size: 1.5rem;
    padding: 0.2rem;
}
.toevoegen section ul {
    background-color: #FF3131;
    list-style-type: none;
}
section ul li {
    font-size: 1.5rem;
}
/* overzicht */
.overzicht {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p#message {
    font-size: 1.5rem;
}
table {
    width: 80%;
    border-collapse: collapse;
}
table * {
    font-size: 1.5rem;
    padding: 1rem;
}
td {
  text-align: center;
}
.overzicht article {
    display: flex;
    flex-direction: column;
}
td:nth-of-type(8) a{
     color: #0096FF;
 }
td:nth-of-type(9) a{
    color: #FF3131;
}
tr:nth-child(even){
    background-color: #ccc;
}
/*zoek*/
.zoek form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*logboek*/
.logboek section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.logboek ul {
    list-style-type: none;
}
.logboek li {
    margin: 1rem;
    border-bottom: 1px solid #000;
    padding: 0.5rem;
}
.logboek p a {
    font-size: 1.5rem;
}
/*footer*/
footer {
    background-color: #1ed760;
    padding: 1rem 0 1rem 2rem;
}
footer ul {
    display: none;
}
footer * {
    font-size: 1.1rem;
    padding-top: 0.5rem;
}


/* big screen*/
@media screen and (min-width: 900px) {
    .een nav {
        width: 100%;
        position: absolute;
        background-color: #1ed760;
        opacity: 60%;
        top: 0;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        float: right;
    }
    nav ul li {
        padding-right: 2rem;
    }
    nav ul li a {
        font-size: 1.5rem;
        font-weight: bolder;
    }
    nav li a:hover{
        background: none;
        transform: translateY(-0.2rem);
        transition: 200ms;
    }
    /* toevoegen */
    header.twee {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #1ed760;
    }
    /* overzicht */
    td, th {
        border-right: 1px solid;
    }
    th, td:nth-of-type(1), td:nth-of-type(6), td:nth-of-type(7), td:nth-of-type(8), td:nth-of-type(9){}
    td:nth-of-type(8){
        color: #0096FF;
    }
    td:nth-of-type(9){
        color: #FF3131;
    }
    /* footer */
    footer ul {
        display: initial;
        list-style-type: none;
    }
    footer li {
        padding-left: 0.5rem;
    }
}
@media screen and (max-width: 600px) {
    th, td:nth-of-type(1), td:nth-of-type(6), td:nth-of-type(7), td:nth-of-type(8), td:nth-of-type(9){display: none}
}
@media screen and (max-width: 700px) {
    td:nth-of-type(8), td:nth-of-type(9){display: none}
}